@import "tailwindcss";

:root {
  --light-theme-primary: #d8eafe;
  --light-theme-accent: #043688;
  --light-theme-navbar-glass: #04368888;
}

html {
  scroll-behavior: smooth;
}

.custom-box {
  max-width: 1920px;
  margin: auto;
  @apply p-3 md:p-4 lg:p-6 xl:p-8;
}

.navbar-blur {
  background-color: var(--light-theme-navbar-glass);
  backdrop-filter: blur(16px);
}

.swiper-pagination-progressbar {
  bottom: 0 !important;
  top: auto !important;
  height: 2px !important;
  background-color: #e5e7eb !important;
}
.swiper-pagination-progressbar-fill {
  background-color: var(--light-theme-accent) !important;
}

.swiper-wrapper {
  padding-bottom: 30px !important;
}

.swiper-slide {
  height: unset !important;
  min-height: 100% !important;
  user-select: none !important;
}
